:root {
    --brand-color: #4D5AE5;
    --pressed-color: #404BBF;
    --heading-color: #2e2f42;
    --text-color: #434455;
    --primary-background: #FFFFFF;
    --light-background: #F4F4FD;
    --accent-color: #E7E9FC;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--primary-background);
}

h2, h3, h4 {
    color: var(--heading-color);
}

button {
    cursor: pointer;
}

.nav {
    background-color: var(--primary-background);
    color: var(--heading-color);
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    text-decoration: none;
}

a.link {
    text-decoration: none;
}



ol, ul {
    list-style-type: none;
}

.accent {
    color: var(--heading-color);
}

footer .accent {
color: var(--accent-color);
}

.nav-menu {
color: var(--heading-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

li.nav-link:hover,
li.nav-link:active {
    color: var(--pressed-color);
}

li.nav-link:focus {
    color: var(--pressed-color)
}

address {
    color: var(--text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address {
color: var(--text-color);

}

.hero-sect {
background-color: var(--heading-color);
color: var(--primary-background);
}

.order-btn {
color: var(--primary-background);
background-color: var(--brand-color);
}

.order-btn:hover,
.order-btn:active {
    background-color: var(--pressed-color);
}

.benefits-sect {

}

.benefits-list {

}

.fitches-sect {

}

.fitches-img {

}

.team {
    background-color: var(--light-background);
}

.team-card {
    background-color: var(--primary-background);
}

footer {
    background-color: var(--heading-color);
    color: var(--accent-color);
}

.footer-text {
 font-size: 16px;
}

.filter-sect {
background-color: var(--primary-background);
}

.filter-btn {
color: var(--brand-color);
background-color: var(--light-background);
}

.filter-btn:hover,
.filter-btn:active {
    color: var(--primary-background);
    background-color: var(--pressed-color);
}

.rows-card {

}